body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    width: 100%;
    height: 40px;
    background: #dddddd;
    padding: 8px;
    border-radius: 4px;
    margin: 0;
}

.nav > ul > li {
    display: inline;
    padding-right: 10px;
    font-size: 16px;
}

/******** ARTICLES ********/
.article-list-image {
    width: 100%;
}


/******** Single ARTICLE ********/
.header-article {

}

.title-block-article {
    padding-right: 10px;
}

.date-published-article {
    font-size: 14px;
    color: #777;
}

.user-block-article {
    padding-left: 10px;
    border-left: 1px solid #ddd;
}
.user-avatar-article {
    height: 120px;
    display: inline-block;
}

.username-article {
    display: inline-block;
    padding-left: 10px;
}

.user-position-article {
    color: #555;
}


/******** USERPROFILE ********/
.badge {
    margin: 5px;
    padding: 3px;
    border-radius: 4px;
    background-color: tomato;
}

.about-me {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
}